# Maven
target/

# Eclipse
.settings/
.project
.classpath

# Logs
logs/
*.log

# Reports
allure-results/
allure-report/
reports/
test-output/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
